{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

<style>
  
</style>

<div class="row">
    
    <div class="col-md-8 grid-margin stretch-card" style="margin: 0 auto;">

        <div class="card">
            <div class="card-body">
                <div class="container" style=" background-color: #191c24;">
                    {% if messages %}
                                
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
            
                    <h2 class="text-center text-uppercase" style="font-family:bold; font-size:34px;">Add Staff</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="POST" action="{% url 'add_staff'%}">
                            
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" name="name"  required class="form-control text-light ">
                                </div>

                                <div class="form-group">
                                  <label for="name">Address:</label>
                                  <textarea name="address" class="form-control text-light"></textarea>
                              </div>

                              <div class="form-group">
                                <label for="name">Profile <Picture></Picture>:</label>
                                <input type="file" id="pic" name="pics" class="form-control text-light ">
                              </div>

                              
                                <div class="form-group d-flex justify-content-center">
                                    <label for="date_of_birth">Date of Birth:</label>
                                    <input class="ml-2 form-control text-light" type="date" id="date_of_birth" name="date_of_birth" required >
                                </div>
                                <div class="form-group">
                                    <label for="phone_number">Phone Number:</label>
                                    <input type="text" id="phone_number" name="phone_number" required class="form-control text-light " >
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" required class="form-control text-light " >
                                </div>
                                
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" required class="form-control text-light " >
                                </div>
                                
                                <div class="form-item form-item4">
                                    <label for="">Location</label>
                                    <input id="location" type="text" name="location" class="form-control text-light "/>
                                 </div>

                                 <div class="form-item form-item4 mt-5">
                                  
                                    <input id="access" type="checkbox" name="access" class="mr-3"   /><label for="" >Order Access</label>
                                    
                                  </div>
                                
                            
                        </div>
                    </div>

                    

                    
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-light">Submit</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>




  
</div>
<section class="mt-5">

    
</section>

{% endblock %}
